.ads-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem; 
    flex-wrap: wrap;
    margin: 3rem auto;
    padding: 0 1rem;
    max-width: 100%;
    cursor: pointer;
}

.ads-container img {
    width: 100%;
    max-width: 550px; 
    flex: 1 1 auto; 
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    object-fit: cover;
}
.ads-container img:hover {
    transform: scale(1.05);
}
